body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    text-align: center;

}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 15px;
    justify-content: center;
    margin-top: 40px;

}

.card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card img {
    width: 80px;
    height: 80px;
    display: none;

}

.card.flipped {
    background-color: #fff;
    transform: rotateY(180deg);
}

.card.flipped img {
    display: block;
}

